<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/1283219/pexels-photo-1283219.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);">
    <div class="container">
        <h1>Welcome to <strong>Mister Cocktail</strong> an app for <strong>creative drinkers</strong>!</h1>
        <p>Create your cocktail</p>
    </div>
</div>

<div class="card-product">
    <div class="card-product-infos">
            <h1>
                <%= @cocktail.name %>
            </h1>
            <%= cl_image_tag @cocktail.photo.key,
      width: 500, height: 400, crop: :fill %>
            <% @cocktail.doses.each do |dose| %>
            <p>
                <%= dose.description %>
                <br>
                <%= dose.ingredient.name %>
                <br>
            <%= link_to 'Delete', dose_path(dose), method: :delete  %>
            <%= link_to "Add new dose", new_cocktail_dose_path(@cocktail)%>
            <%= link_to 'Back', cocktails_path  %>
            </p>
            <% end %>
        </div>
    </div>


