<div class="ingredientcontainer">

    <h2>
        <%= @cocktail.name %>
    </h2>

<div class="ingredientimage">
    <%= cl_image_tag @cocktail.photo.key,
      width: 500, height: 400, crop: :fill %>
</div>

    <% @cocktail.doses.each do |dose| %>
    <div class="ingredientscard">
        <h5>
            <%= dose.description %>
            <br>
            <%= dose.ingredient.name %>
            <br>
            <%= link_to '<i class="fas fa-trash"></i>'.html_safe, dose_path(dose), method: :delete, data: {confirm: "Are you sure?"}, class: "delete-button" %>
        </h5>
    </div>
    <% end %>



    <%= link_to "Add new dose", new_cocktail_dose_path(@cocktail)%>
    <%= link_to 'Back', cocktails_path  %>

</div>


