<!DOCTYPE html>
<html>

<head>
    <title>RailsMisterCocktail</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
</head>

<body>
    <%= yield %>
    <%= javascript_include_tag "application" %>
    <!-- from app/assets/javascripts/application.js -->
    <%= javascript_pack_tag "application" %>
    <!-- from app/javascript/packs/application.js -->
    <div class="footer">
        <div class="footer-links">
            <a href="https://github.com/alexandrezagame"><i class="fab fa-github"></i></a>
            <a href="https://www.instagram.com/iamalexbacelo/?hl=fr"><i class="fab fa-instagram"></i></a>
            <a href="https://www.facebook.com/azagame"><i class="fab fa-facebook"></i></a>
            <a href="https://twitter.com/AlexandreZagame"><i class="fab fa-twitter"></i></a>
            <a href="https://www.linkedin.com/in/alexandrezagame/"><i class="fab fa-linkedin"></i></a>
        </div>
        <div class="footer-copyright">
            This footer is made with <i class="fas fa-heart"></i> by AZB
        </div>
    </div>
</body>

</html>
